@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    color: #2e2f30;
}

/* To remove underlines from links */
body a {    
    text-decoration: none;
}

h1, h2 {
    font-family: Cabin, sans-serif;
    text-transform: uppercase;
    color: green;
    letter-spacing: 4px;
    padding-bottom: 15px;
}

h3 {
    padding-bottom: 10px;
}

header {
    width: 90vw;
    margin: 0 auto;
}

/* This is in effect in Contact and Games pages */
#main-title, #navigation {
    line-height: 75px;
}

/* This is in effect in Index */
#main-title {
    /* margin-left: 30px; */
    float: left;
    font-size: 220%;
}

#navigation li {
    float: right;
    list-style-type: none;
    /* margin-right: 30px; */
    margin-left: 30px;
    font-size: 120%;
}

/* Div that contains both the title and the cover image, used to establish margins for both blocks */
#title-cover-image {
    width: 90vw;
    margin: 0 auto;
    height: 500px;
    background-color: green;
    clear: both;
}

#title-cover-image h1,  #title-cover-image a{
    color: whitesmoke;
    padding: 30px;
}

#title-cover-image p {
    padding: 30px;
    color: rgb(190, 190, 190)
}

/* Div that contains both the title and call to action link */
#title-cta {
    clear: right;
    float: left;
    width: 50%
}

/* This is the same ruleset as main-title, but kept seperate in case I want to change anything */
#title {
    /* margin-left: 30px; */
    float: left;
    font-size: 220%;
}

#tagline {
    clear: left;
}

#call-to-action {
    font-family: Cabin, sans-serif;
    text-transform: uppercase;
    color: green;
    letter-spacing: 4px;
    padding-top: 30px;
}

/* Following 2 rules adjust the cover image in Index */
#cover-outer {
    /* height: 600px; */
    width: 50%;
    /* overflow keeps the image below the title */
    overflow: hidden;
    float: right;
}

#cover-image {
    background: url('../images/cover-image.jpg') no-repeat center center;
    /* this scales the background image */
    background-size: 800px;
    height: 500px;
    width: 100%;
}

/* Following rules used in the About Us section in Index */
#subpage-header {
    clear: both;
    width: 90vw;
    margin: 0 auto;
    padding-top: 30px;
}

.right-text {
    height: 200px;
    float: right;
    clear: right;
    text-align: left;
    width: 65%;
    padding-left: 5%;
    padding-top: 30px;
    /* In case text goes beyond the div dimensions */
    overflow: auto;
}

.left-text {
    height: 200px;
    float: left;
    clear: left;
    width: 65%;
    padding-right: 5%;
    padding-top: 30px;
    overflow: auto;
}

.left-image {
    /* background: url('../images/cover-image.jpg') no-repeat center center; */
    height: 200px;
    width: 30%;
    float: left;
}

.right-image {
    /* background: url('../images/cover-image.jpg') no-repeat center center; */
    height: 200px;
    width: 30%;
    float: right;
}

#about-image-1 {
    background: url('../images/about-us-1.jpg') no-repeat center center;
    background-size: 450px;
}

#about-image-2 {
    background: url('../images/about-us-2.jpg') no-repeat center center;
    background-size: 500px;
}

#about-image-3 {
    background: url('../images/about-us-3.jpg') no-repeat center center;
    background-size: 500px;
}

/* Rules for the meeting schedules */
#meeting-schedule {
    clear: both;
    width: 90vw;
    margin: 0 auto;
    padding-top: 30px;
}

/* Code modified from Love Running sample project */
.location {
    color: whitesmoke;
    /* background-color: rgba(0, 128, 0, 0.7); */
    width: 25%;
    height: 220px;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    float: left;
    box-sizing: border-box;
}

#dublin {
    background:
    /* Use a linear gradient to fake a transparent colour overlay on the image */
        linear-gradient(
            rgba(0, 128, 0, 0.7),
            rgba(0, 128, 0, 0.7)
        ), 
        url(/assets/images/dublin.jpg) no-repeat center center;
    background-size: 500px;
}

#galway {
    background:
    /* Use a linear gradient to fake a transparent colour overlay on the image */
        linear-gradient(
            rgba(0, 128, 0, 0.7),
            rgba(0, 128, 0, 0.7)
        ), 
        url(/assets/images/galway.jpg) no-repeat center center;
    background-size: 500px;
}

#cork {
    background:
    /* Use a linear gradient to fake a transparent colour overlay on the image */
        linear-gradient(
            rgba(0, 128, 0, 0.7),
            rgba(0, 128, 0, 0.7)
        ), 
        url(/assets/images/cork.jpg) no-repeat center center;
    background-size: 500px;
}

#belfast {
    background:
    /* Use a linear gradient to fake a transparent colour overlay on the image */
        linear-gradient(
            rgba(0, 128, 0, 0.7),
            rgba(0, 128, 0, 0.7)
        ), 
        url(/assets/images/belfast.jpg) no-repeat center center;
    background-size: 500px;
}

/* Override the h2 elements in the meetup section as they need greater contrast */
.location h2 {
    color: whitesmoke;
}

/* Rules for Games page */

.game-text {
    /* height: 200px; */
    float: right;
    clear: right;
    text-align: left;
    width: 65%;
    padding-left: 5%;
    padding-top: 30px;
    /* height: 300px; */
}

.about-section {
    padding-top: 50px;
}

.game-image-container {
    float: left;
    width: 30%;
}

.game-image {
    max-height: 300px;
    max-width: 300px;
    /* float: left; */
    margin: auto;
    display: block;
    /* vertical-align: middle; */
}

article {
    clear: both;
    padding: 30px;
    /* display: block;
    vertical-align: middle; */
}

/* Rules for contact form */
/* Modified from https://www.w3schools.com/css/css_form.asp */

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: green;
    border: none;
    color: whitesmoke;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

/* Rules for footer */

footer {
    clear: both;
    width: 90vw;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 220%;
    text-align: center;
}

footer a {
    color: green;
    padding: 10px;
}
