@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    color: #2e2f30;
}

h1 {
    font-family: Cabin, sans-serif;
}