@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@300&display=swap');

/* Remove padding and margin by default. */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Establish default body font and colour. */
body {
    font-family: Poppins, sans-serif;
    color: #2e2f30;
}

/* Remove underlines from links */
body a {    
    text-decoration: none;
    color: green;
}

/* Establish defaults for headers. Particularly transform into uppercase, so standard case can be used in HTML file. */
h1, h2 {
    font-family: Cabin, sans-serif;
    text-transform: uppercase;
    color: green;
    letter-spacing: 4px;
    padding-bottom: 15px;
}

h3 {
    padding-bottom: 10px;
}

/* Header width relative to device */
header {
    width: 90vw;
    margin: 0 auto;
}

/* This is in effect in Contact and Games pages */
#main-title, #navigation {
    line-height: 75px;
}

#main-title {
    /* margin-left: 30px; */
    float: left;
    font-size: 220%;
}

#navigation li {
    float: right;
    list-style-type: none;
    /* margin-right: 30px; */
    margin-left: 30px;
    font-size: 120%;
    /* color: green; */
}

/* #navigation a {
    color: green;
} */

/* To underline navigation link when hovered. Modified from the Love Running sample. */
#navigation a:hover {
    border-bottom: 1px solid green;
}

/* Div that contains both the title and the cover image, used to establish margins for both blocks */
#title-cover-image {
    width: 90vw;
    margin: 0 auto;
    height: 500px;
    background-color: green;
    clear: both;
}

/* Div that contains the title, tagline, and call to action link */
#title-cta {
    clear: right;
    float: left;
    width: 50%
}

#title {
    float: left;
    font-size: 220%;
    padding: 30px;
    color: whitesmoke;
}

#tagline {
    /* clear: left;  */
    padding: 30px;
    color: rgb(190, 190, 190);  
}

#call-to-action {
    font-family: Cabin, sans-serif;
    text-transform: uppercase;
    /* color: green; */
    letter-spacing: 4px;
    padding: 60px 30px 30px 30px;
    /* padding-top: 60px; */
}

#call-to-action > a {
    color: whitesmoke;
}

/* Following 2 rules adjust the cover image in Index */
#cover-outer {
    width: 50%;
    /* overflow keeps the image below the title */
    overflow: hidden;
    float: right;
}

#cover-image {
    background: url('../images/cover-image.jpg') no-repeat center center;
    /* this scales the background image */
    background-size: 800px;
    height: 500px;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/* Cover image animation adapted from the Love Running sample project */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Establish margins and padding for the main content of each page */
.main-content {
    clear: both;
    width: 90vw;
    margin: 0 auto;
    padding-top: 30px;
}

/* Following rules used in the About Us section in Index */
.about-container {
    padding: 15px 0px;
    overflow: hidden;
}

.right-text {
    /* height: 200px; */
    float: right;
    clear: right;
    /* text-align: left; */
    width: 65%;
    padding-left: 5%;
    /* padding-top: 30px; */
    /* In case text goes beyond the div dimensions */
    /* overflow: auto; */
}

.left-text {
    /* height: 200px; */
    float: left;
    clear: left;
    width: 65%;
    padding-right: 5%;
    /* padding-top: 30px; */
    /* overflow: auto; */
}

.left-about-image-container {
    height: 200px;
    width: 30%;
    float: left;
    overflow: hidden;
}

.right-about-image-container {
    height: 200px;
    width: 30%;
    float: right;
    overflow: hidden;
}

/* Scale the image to the width of the container div */
.about-image {
    width: 100%;
}

/* Rules for the meeting schedules */

/* Code adapted from Love Running sample project */
.location {
    color: whitesmoke;
    width: 25%;
    height: 220px;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    float: left;
    box-sizing: border-box;
}

/* These four divs Use a linear gradient to fake a transparent colour overlaying an the image */
/* I learned this technique from https://css-tricks.com/tinted-images-multiple-backgrounds/ */
/* I learned to scale background images from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Resizing_background_images */
#dublin {
    background:
        linear-gradient(
            rgba(0, 128, 0, 0.7),
            rgba(0, 128, 0, 0.7)
        ), 
        url(../images/dublin.jpg) no-repeat center center;
    background-size: 500px;
}

#galway {
    background:
        linear-gradient(
            rgba(0, 128, 0, 0.7),
            rgba(0, 128, 0, 0.7)
        ), 
        url(../images/galway.jpg) no-repeat center center;
    background-size: 500px;
}

#cork {
    background:
        linear-gradient(
            rgba(0, 128, 0, 0.7),
            rgba(0, 128, 0, 0.7)
        ), 
        url(../images/cork.jpg) no-repeat center center;
    background-size: 500px;
}

#belfast {
    background:
        linear-gradient(
            rgba(0, 128, 0, 0.7),
            rgba(0, 128, 0, 0.7)
        ), 
        url(../images/belfast.jpg) no-repeat center center;
    background-size: 500px;
}

/* Override the h2 elements in the meetup section as they need greater contrast */
.location h2 {
    color: whitesmoke;
}

/* Rules for Games page */

.game-text {
    /* height: 200px; */
    float: right;
    clear: right;
    text-align: left;
    width: 65%;
    padding-left: 5%;
    padding-top: 30px;
    /* height: 300px; */
}

/* Hmmm - if I comment this out, it causes problems on smaller screens */
.game-image-container {
    float: left;
    width: 30%;
}

.game-image {
    max-height: 300px;
    max-width: 300px;
    /* float: left; */
    margin: 0 auto;
    display: block;
    /* vertical-align: middle; */
}

.game-container {
    clear: both;
    padding: 30px;
    /* display: block;
    vertical-align: middle;  */
}

/* Rules for contact form */
/* Adapted from https://www.w3schools.com/css/css_form.asp */

#form-content {
    clear: both;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
}

#contact-form {
    padding-top: 50px;
}

legend {
    color: green;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}

.input-field {
    padding-top: 30px;
}

#name, #email, #message, .button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: green;
    border: none;
    color: whitesmoke;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

.radio-choice {
    padding-top: 16px;
}

/* Change button colour when hovering */
.button:hover {
    background-color: rgb(0, 188, 0);
}

/* Rules for footer */

footer {
    clear: both;
    width: 90vw;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 220%;
    text-align: center;
}

footer a {
    color: green;
    padding: 10px;
}

/* Responsive design */
/* For screens with width 1200px and below */
@media screen and (max-width: 1200px) {

    #main-title {
        float: left;
        font-size: 150%;
    }

    h2 {
        font-size: 120%;
    }

    /* Location boxes in meetup section increase in length to give contents more space. */
    .location {
        height: 300px;
    }

    /* Divs on Games page will stack rather than floating left and right. */
    .game-text {
        float: none;
        clear: both;
        text-align: left;
        width: 80%;
        padding-left: 0%;
        padding-top: 30px;
        margin: 0 auto;
    }
    
    .game-image-container {
        float: none;
        width: 50%;
        clear: both;
        margin: 0 auto;
    }
    
    .game-image {
        max-height: 300px;
        max-width: 600px;
        margin: 0 auto;
        display: block;
    }
    
    .game-container {
        clear: both;
        padding: 30px;
    }
}

/* For screens with width 1028px and below */
@media screen and (max-width: 1028px) {

    /* On Games and contact page, centre title and push navigation down beneath it */
    #main-title {
        float: left;
        font-size: 170%;
        /* margin: 0 auto;
        clear: both; */
    }

    #navigation {
        clear: left;
        float: left;
        line-height: 25px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #navigation li {
        /* float: right;
        list-style-type: none; */
        /* margin-right: 30px; */
        margin-left: 0px;
        margin-right: 30px;
        /* font-size: 120%; */
        /* color: green; */
    }

}

/* For screens with width 750px and below */
@media screen and (max-width: 750px) {

    /* Stack title divs in index */
    #title-cta {
        clear: both;
        float: left;
        width: 100%
    }

    #cover-outer {
        /* height: 600px; */
        width: 100%;
        /* overflow keeps the image below the title */
        overflow: hidden;
        float: left;
        clear: both;
    }

    #title-cover-image h1 {
        padding: 30px 30px 10px 30px;
    }

    /* #call-to-action {
        padding: 15px 0px;
    } */

    /* Change width of contact us page to be relative to viewport */
    #form-content {
        max-width: 90vw;
    }
}